@font-face {
    font-family: "Ovo";
    src: url(../assets/Ovo-Regular.otf);
}

@font-face {
    font-family: "Quicksand";
    font-style: normal;
    src: url(../assets/Quicksand-Regular.otf);
}

@font-face {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 300;
    src: url(../assets/Quicksand-Light.otf);
}

@font-face {
    font-family: "Quicksand";
    font-style: italic;
    font-weight: 300;
    src: url(../assets/Quicksand-LightItalic.otf);
}

@font-face {
    font-family: "Crimson Text";
    font-style: normal;
    src: url(../assets/CrimsonText-Roman.ttf);
}

@font-face {
    font-family: "Crimson Text";
    font-style: italic;
    src: url(../assets/CrimsonText-Italic.ttf);
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: normal;
    src: url(../assets/SourceCodePro-Regular.otf);
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: bold;
    src: url(../assets/SourceCodePro-Semibold.otf);
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: lighter;
    src: url(../assets/SourceCodePro-Light.otf);
}

:root {
    color-scheme: light dark;
}

body.dark-mode {
    color-scheme: dark;
}

:root {
    --font-face-header: "Ovo", "Palatino", "Georgia", sans-serif;
    --font-face-header-forced: "Ovo";
    --font-face-secondary: "Quicksand", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica-Light", "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
    --font-face-secondary-forced: "Quicksand";
    --font-face-main: "Crimson Text", "Linden Hill", "Palatino", serif;
    --font-face-main-forced: "Crimson Text";
    --font-face-mono: "Source Code Pro", "Menlo", "Consolas", monospace;
    --font-face-mono-forced: "Source Code Pro";
    --background-color-main:    light-dark(hsl(165, 33%, 98%),  hsl(185, 10%, 12%));
    --background-color-subtle:  light-dark(hsl(185, 10%, 97%),  hsl(165, 10%, 9%));
    --background-color-header:  light-dark(hsl(133, 15%, 82%),  hsl(148, 10%, 24%));
    --background-color-listing: light-dark(hsl(165, 10%, 94%),  hsl(185,  5%, 14%));
    --border-color-listing:     light-dark(hsl(165, 10%, 80%),  hsl(165, 10%, 20%));
    --border-color-warn:        light-dark(hsl(28, 100%, 63%),  hsl(20,  80%, 53%));
    --text-color-main:          light-dark(hsl(185, 10%, 24%),  hsl(133, 15%, 90%));
    --text-color-secondary:     light-dark(hsl(173,  7%, 54%),  hsl(143,  8%, 64%));
    --text-color-listing:       light-dark(hsl(165, 15%, 20%),  hsl(133, 70%, 88%));
    --link-color-main:          light-dark(hsl(202, 85%, 29%),  hsl(133, 45%, 64%));
    --link-color-main-active:   light-dark(hsl(208, 100%, 52%), hsl(133, 84%, 80%));
    --link-color-secondary: var(--text-color-secondary);
    --link-color-secondary-active: light-dark(hsl(208, 50%, 52%), hsl(208, 45%, 81%));
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html,
button,
input,
select,
textarea,
body,
h1 a:link, h1 a:visited, header h1 a:hover, header h1 a:active {
    color: var(--text-color-main);
}

a { /* inspired by inessential.com */
    transition: color 0.2s ease-in-out;
}

a:link, a:visited { color: var(--link-color-main); }
a:hover, a:active, h1 a:hover, h1 a:active { color: var(--link-color-main-active); }

body {
    margin: 0;
    font-size: 14pt;
    line-height: 1.3;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
    background-color: var(--background-color-main);
}

h1, h2, h3, header .caption, article .figure {
    font-family: var(--font-face-secondary);
    font-weight: 300;
    letter-spacing: -0.075em;
    margin-bottom: 0.5em;
    text-rendering: optimizelegibility;
}

time {
    color: var(--text-color-secondary);
    font-family: var(--font-face-secondary);
    font-weight: 500;
    font-size: 12pt;
    letter-spacing: -1.5pt;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
}

h1 {
    font-size: 1.75em;
    margin: 0.75em 0;
}

h1.with-time {
    margin-bottom: 0;
}

h1.with-time + time {
    display: block;
    margin-bottom: 1em; /* match the 0.5em margin of h1 without time */
}

h1.with-time + time a:any-link {
    color: var(--text-color-secondary);
}

p, blockquote, li, dt, dd, summary, details footer {
    font: 15pt/22pt var(--font-face-main);
    hyphens: auto;
}

code, kbd, pre, samp {
    font-family: var(--font-face-mono);
    font-size: 11pt;
    hyphens: none;
}

.nohyphen, body.nohyphen p, body.nohyphen blockquote, body.nohyphen li, body.nohyphen dt, body.nohyphen dd, body.nohyphen summary {
    hyphens: none;
}

pre {
    line-height: 17pt;
    background-color: var(--background-color-listing);
    color: var(--text-color-listing);
    border-color: var(--border-color-listing);
    border-style: solid;
    border-width: 0 0 0 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3px 6px;
}

h1 code, h2 code, h3 code {
    font-family: var(--font-face-mono);
    font-size: inherit;
    line-height: inherit;
    font-weight: lighter;
}

.highlighter-rouge > div.highlight > pre.highlight {
    /*background-color: transparent;*/
    border-width: 1px 1px 1px 6px;
}

header {
    width: 100%;
    margin: 0;
    padding: 1.5em 0;
    background-color: var(--background-color-header);
}

header h1 {
    width: 100%;
    text-align: center;
    margin: 0.5em 0 0.2em 0;
    font-family: var(--font-face-header);
    font-weight: normal;
    letter-spacing: 1pt;
}

header h1 span {
    display: inline-block;
    width: 0.7em;
    text-align: center;
    color: var(--text-color-secondary);
}
/* header h1 span.r-punct-mid { text-align: right; }
header h1 span.r-punct-end { text-align: left; } */

h1 a {
    text-decoration: none;
}

header .caption {
    text-align: center;
    font-size: 13pt;
    line-height: 19pt;
    margin: 0;
}

main {
    margin: 0 auto;
    padding: 1.5em 10px;
    min-width: 300px;
    max-width: 600px;
}

body > footer {
    margin: 1.5em 0 0.5em 0;
    text-align: center;
    color: var(--text-color-secondary);
}

body > footer a:link, body > footer a:visited {
    color: var(--link-color-secondary);
}

body > footer a:hover, body > footer a:active {
    color: var(--link-color-secondary-active);
}

body > footer p {
    font-family: var(--font-face-secondary);
    font-weight: 400;
    font-size: 12pt;
    line-height: 18pt;
    -webkit-hyphens: none;
    hyphens: none;
    /* letter-spacing: -1pt; */
}

.latest h3 {
    margin-bottom: 0.3em;
    font-weight: 400;
}

.latest h3 a {
    text-decoration: none;
}

.latest .excerpt {
    margin-top: 0;
}

.more {
    font-style: italic;
}

.more:after {
    content: " »";
}

body.home h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
body.home h2:after {
    content: " —";
}
body.home h2:before {
    content: "— ";
}

article footer {
    margin-top: 1.25em;
    color: var(--text-color-secondary);
}

article footer li, details footer {
    font-size: 12pt;
    line-height: 18pt;
}

/* footnote back-links */
a.back:link, a.back:visited, a.back:hover, a.back:active {
    color: var(--link-color-secondary);
    font-size: 10pt;
    text-decoration: none;
}

a.back:hover, a.back:active {
    color: var(--link-color-secondary-active);
}

/* navigation between related posts */
a.continue {
    font-style: italic;
}
a.continue::after {
    content: " ☞";
}

sup a {
    padding-left: 1pt;
    padding-right: 1pt;
    font-size: 9pt;
}

nav ul, section.archive ol {
    list-style: none;
    padding: 0;
}

/* fin */
section.archive h2:last-child {
    text-transform: lowercase;
    font-style: italic;
}

.archive li {
    margin: 14pt 0;
    padding-left: 90pt;
    padding-right: 8pt; /* visually balance the perceived indent of <time>s */
    line-height: 16pt;
    -webkit-hyphens: none;
    hyphens: none;
}

.archive time {
    display: inline-block;
    width: 67pt;
    margin-left: -85pt;
    margin-right: 15pt;
    text-align: right;
}

.archive a {
    -webkit-hyphens: none;
    hyphens: none;
}

nav.links ul {
    text-align: center;
    padding: 0;
}
nav.links li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
nav.links li + li:before {
    content: " • ";
}

.cc-notice {
    display: block;
    text-align: center;
}

article .figure {
    max-width: 570px;
    margin: 1em auto;
    font-size: 85%;
    font-style: italic;
    text-align: center;
}

article .figure > a:first-child {
    display: block;
    text-align: center;
    text-decoration: none;
}

article .figure img {
    border-style: none;
    max-width: 570px;
}

p.triforce {
    padding-left: 20px;
    background-size: 20px 18px;
    min-height: 18px;
    background-image: image-set(url(../assets/triforce-glyph-dark-20.png) 1x, url(../assets/triforce-glyph-dark-40.png) 2x);
    background-position: left center;
    background-repeat: no-repeat;
}

p.triforce span {
    display: none;
}

@media only screen and (max-width: 500px) {
    header {
        padding: 0.5em 0;
    }
    h1 {
        font-size: 1.5em;
    }
    main {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    
    time {
        font-size: 11pt;
        letter-spacing: -1.25pt;
    }
    
    .archive li {
        padding-left: 70pt;
        padding-right: 4pt;
    }
    
    .archive time {
        width: 65pt;
        margin-left: -70pt;
        margin-right: 1pt;
    }

    article .figure {
        max-width: 95%;
    }

    article .figure img {
        max-width: 100%;
    }
}

.editorial-note {
    padding: 4pt;
    border-radius: 4pt;
    background-color: var(--background-color-subtle);
    font-style: italic;
}

.editorial-note::before {
    content: "❖ ";
    font-style: normal;
}

aside {
    width: 80%;
    margin-left: auto;
    text-align: right;
    color: var(--text-color-secondary);
    hyphens: none;
}

aside, aside p {
    font: 13pt/19pt var(--font-face-main);
    font-style: italic;
}

@media only screen and (max-width: 400px) {
    aside {
        width: 90%;
    }
}

blockquote cite {
    display: block;
    font-style: italic;
    text-align: right;
}

blockquote cite:before {
    content: "–";
}

blockquote.warn {
    margin-left: 0.25em;
    margin-right: 0.5em;
    padding: 0.25em 0.25em 0.25em 0.5em;
    border: 1px solid var(--border-color-warn);
    border-left-width: 0.25em;
    border-radius: 0.5em;
    font: 13pt/19pt var(--font-face-secondary);
    letter-spacing: -0.05em;
    background-color: var(--background-color-subtle);
}

.post-modified {
    font-style: italic;
    font-size: 13pt;
    line-height: 18pt;
    margin-top: 2em;
}

.discuss {
    margin-top: 2.5em;
    font-family: var(--font-face-secondary);
    font-weight: 400;
    font-size: 12pt;
    letter-spacing: -1pt;
}

.discuss iframe {
    display: inline-block;
    margin-bottom: -5px;
    margin-left: 0.25em;
}

dt {
    font-weight: normal;
    float: left;
    clear: both;
    width: 8em;
    text-align: right;
}
dd {
    float: left;
    margin-left: 1.33em;
    text-align: left;
}
dd + dd {
    clear: left;
    margin-left: 9.33em;
}
dd:last-child {
    margin-bottom: 1em;
}
dl + * {
    clear: both;
}
.color-samples dt, .color-samples dd {
    line-height: 24pt;
    padding-top: 2pt;
}
.color-sample {
    display: inline-block;
    width: 37pt;
    height: 22pt;
    padding: 0;
    margin: 0 1em 0 0;
}
.color-sample.bordered {
    width: 36pt;
    height: 20pt;
    border: 1pt solid #ccc;
}
.color-value {
    color: var(--text-color-secondary);
}

@media only screen and (max-width: 400px) {
    dt {
        width: auto;
        text-align: left;
        float: none;
    }
    
    dd, dd + dd {
        margin-left: 1em;
        float: none;
    }
}

#color-sample-text-color-main .color-sample {
    background-color: var(--text-color-main);
}

#color-sample-link-color-main .color-sample {
    background-color: var(--link-color-main);
}

#color-sample-link-color-main-active .color-sample {
    background-color: var(--link-color-main-active);
}

#color-sample-text-color-secondary .color-sample {
    background-color: var(--text-color-secondary);
}

#color-sample-link-color-secondary-active .color-sample {
    background-color: var(--link-color-secondary-active);
}

#color-sample-background-color-main .color-sample {
    background-color: var(--background-color-main);
}

#color-sample-background-color-header .color-sample {
    background-color: var(--background-color-header);
}

#font-sample-font-face-header {
    font-family: var(--font-face-header-forced);
    font-weight: normal;
}

#font-sample-font-face-secondary {
    font-family: var(--font-face-secondary-forced);
    font-weight: 300; letter-spacing: -0.075em;
}

#font-sample-font-face-main {
    font-family: var(--font-face-main-forced);
    font-weight: normal;
}

#font-sample-font-face-mono {
    font-family: var(--font-face-mono-forced);
    font-weight: normal;
}

.instagram-media {
    width:79.375% ! important;
    width:calc(80% - 2px) ! important;
    margin: 1px auto ! important;
}
