@font-face {
    font-family: "Ovo";
    src: url(../assets/Ovo-Regular.otf);
}

@font-face {
    font-family: "Quicksand";
    font-style: normal;
    src: url(../assets/Quicksand-Regular.otf);
}

@font-face {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 300;
    src: url(../assets/Quicksand-Light.otf);
}

@font-face {
    font-family: "Quicksand";
    font-style: italic;
    font-weight: 300;
    src: url(../assets/Quicksand-LightItalic.otf);
}

@font-face {
    font-family: "Crimson Text";
    font-style: normal;
    src: url(../assets/CrimsonText-Roman.ttf);
}

@font-face {
    font-family: "Crimson Text";
    font-style: italic;
    src: url(../assets/CrimsonText-Italic.ttf);
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: normal;
    src: url(../assets/SourceCodePro-Regular.otf);
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: bold;
    src: url(../assets/SourceCodePro-Semibold.otf);
}

@font-face {
    font-family: "Source Code Pro";
    font-weight: lighter;
    src: url(../assets/SourceCodePro-Light.otf);
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html,
button,
input,
select,
textarea,
body,
h1 a:link, h1 a:visited, header h1 a:hover, header h1 a:active {
    color: #384344;
}

a { /* inspired by inessential.com */
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:link, a:visited { color: #0B5A87; }
a:hover, a:active, h1 a:hover, h1 a:active { color: #0C8EFF; }

body {
    font-size: 14pt;
    line-height: 1.3;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
    background-color: #f7fbfa;
}

h1, h2, h3, header .caption, article .figure {
    font-family: "Quicksand", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica-Light", "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.075em;
    margin-bottom: 0.5em;
    text-rendering: optimizelegibility;
}

p, blockquote, li, dt, dd {
    font: 15pt/22pt "Crimson Text", "Linden Hill", "Palatino", serif;
    -webkit-hyphens: auto;
    hyphens: auto;
}

code, kbd, pre, samp {
    font-family: "Source Code Pro", "Menlo", "Consolas", monospace;
    font-size: 11pt;
    -webkit-hyphens: none;
    hyphens: none;
}

.nohyphen {
    -webkit-hyphens: none;
    hyphens: none;
}

pre {
    line-height: 17pt;
    background-color: #f0f0f0; /* TODO */
    border-left: 6px solid #cccccc; /* TODO */
    padding: 3px 6px;
}

h1 code, h2 code, h3 code {
    font-family: "Source Code Pro";
    font-size: inherit;
    line-height: inherit;
    font-weight: lighter;
}

.highlight {
    background-color: transparent;
}

header {
    width: 100%;
    margin: 0;
    padding: 1.5em 0;
    background-color: #c9d7cc;
}

header h1 {
    width: 100%;
    text-align: center;
    margin: 0.5em 0 0.2em 0;
    font-family: "Ovo", "Palatino", "Georgia", sans-serif;
    font-weight: normal;
    letter-spacing: 1pt;
}

h1 a {
    text-decoration: none;
}

header .caption {
    text-align: center;
    font-size: 13pt;
    line-height: 19pt;
    margin: 0;
}

main {
    margin: 0 auto;
    padding: 1.5em 10px;
    min-width: 300px;
    max-width: 600px;
}

body > footer {
    margin: 1.5em 0 0.5em 0;
    text-align: center;
    color: #81918F;
}

body > footer a:link, body > footer a:visited {
    color: #81918F;
}

/* half-saturation variant of main a:link/visited */
body > footer a:hover, body > footer a:active {
    color: #0C8EFF;
}

body > footer p {
    font-family: "Quicksand", "HelveticaNeue-Light", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-height: 18pt;
    -webkit-hyphens: none;
    hyphens: none;
    /* letter-spacing: -1pt; */
}

#mc_embed_signup {
    min-width: 280px;
    max-width: 90%;
    margin: 0 auto;
}

#mc_embed_signup form {
    padding: 0;
}

#mc_embed_signup div#mc_embed_signup_scroll {
    max-width: 340px;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #f0f0f0;
}

#mc_embed_signup label {
    text-align: center;
}

#mc_embed_signup input.email,
#mc_embed_signup input.button {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    min-width: 260px;
    max-width: 90%;
}

.latest h3 {
    margin-bottom: 0.3em;
}

.latest .excerpt {
    margin-top: 0;
}

.more {
    font-style: italic;
}

.more:after {
    content: " »";
}

body.home h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
body.home h2:after {
    content: " —";
}
body.home h2:before {
    content: "— ";
}

article footer {
    margin-top: 1.25em;
    color: #81918F;
}

article footer li {
    font-size: 12pt;
    line-height: 18pt;
}

a.back:link, a.back:visited, a.back:hover, a.back:active {
    color: #81918F;
    font-size: 10pt;
    text-decoration: none;
}

a.back:hover, a.back:active {
    color: #0C8EFF;
}

sup a {
    padding-left: 1pt;
    padding-right: 1pt;
    font-size: 9pt;
}

nav.archive li {
    clear: both;
    padding-left: 8em;
    -webkit-hyphens: none;
    hyphens: none;
}

nav.archive time {
    display: block;
    width: 7em;
    margin: 0 0 0 -8em;
    float: left;
    text-align: right;
    color: #81918F;
}

nav.links ul {
    text-align: center;
    padding: 0;
}
nav.links li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
nav.links li + li:before {
    content: " • ";
}

.cc-notice {
    display: block;
    text-align: center;
}
.cc-notice a {
    display: inline-block;
    background-image: url(../assets/cc.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1em 1em;
    padding-left: 1.5em;
    min-height: 1em;
}

article .figure {
    max-width: 570px;
    margin: 1em auto;
    font-size: 85%;
    font-style: italic;
    text-align: center;
}

article .figure > a:first-child {
    display: block;
    text-align: center;
    text-decoration: none;
}

article .figure img {
    border-style: none;
    max-width: 570px;
}

@media only screen and (max-device-width: 500px) {
    header {
        padding: 0.5em 0;
    }
    h1 {
        font-size: 1.5em;
    }
    main {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    nav.archive li {
        padding-left: 90px;
        margin: 0.5em 0;
    }
    nav.archive time {
        margin-top: 1.5px;
        margin-left: -96px;
        width: 88px;
        font-size: 80%;
        font-style: italic;
    }
    nav.archive ul {
        padding-left: 0;
    }
}

blockquote cite {
    display: block;
    font-style: italic;
    text-align: right;
}

blockquote cite:before {
    content: "–";
}

.post-modified {
    font-style: italic;
    font-size: 13pt;
    line-height: 18pt;
    margin-top: 2em;
}

.discuss {
    margin-top: 2.5em;
    font-family: "Quicksand", "HelveticaNeue-Light", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 12pt;
    letter-spacing: -1pt;
}

.discuss iframe {
    display: inline-block;
    margin-bottom: -5px;
    margin-left: 0.25em;
}

dt {
    font-weight: normal;
    float: left;
    clear: both;
    width: 8em;
    text-align: right;
}
dd {
    float: left;
    margin-left: 1.33em;
    text-align: left;
}
dd + dd {
    clear: left;
    margin-left: 9.33em;
}
dd:last-child {
    margin-bottom: 1em;
}
dl + * {
    clear: both;
}
.color-samples dt, .color-samples dd {
    line-height: 24pt;
    padding-top: 2pt;
}
.color-sample {
    display: inline-block;
    width: 37pt;
    height: 22pt;
    padding: 0;
    margin: 0 1em 0 0;
}
.color-sample.bordered {
    width: 36pt;
    height: 20pt;
    border: 1pt solid #ccc;
}
