---
layout: default
title: "Running|Code"
body_class: home
---

{% for post in site.posts limit:1 %}
<section>
    <h2>Latest Post</h2>
    <article class="latest">
        <h3><a href="{{ post.url }}">{{ post.title | xml_escape }}</a></h3>
        <p class="excerpt">
        {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
        <a href="{{ post.url }}" class="more">Read more</a>
        </p>
    </article>
</section>
{% endfor %}

<section class="archive">
{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% for year in posts_by_year %}
<h2>{{ year.name }}</h2>
<ol>
    {% for post in year.items %}
    <li>
        <time datetime="{{ post.date | date_to_xmlschema }}" title="{{ post.date | date_to_string }}">
            {{ post.date | date: "%e %b" }}
        </time>
        <a href="{{ post.url }}">{{ post.title | xml_escape }}</a>
    </li>
    {% endfor %}
</ol>
{% endfor %}

<h2 lang="fr">fin</h2>

</section>
