<nav class="links">
    <ul>
        <li><a href="{{ site.url }}/colophon/">Colophon</a></li>
        <li><a href="https://github.com/mmertsock/mmertsock.github.io">GitHub</a></li>
        <li><a href="http://www.esker-apps.com/trailsroc/">#TrailsRoc app</a></li>
        <li><a href="{{ site.url }}/feed.xml">RSS</a></li>
        <li><a href="https://twitter.com/mmertsock">Twitter</a></li>
    </ul>
</nav>

<div id="mc_embed_signup">
<form action="//esker-apps.us10.list-manage.com/subscribe/post?u=cf65259744f5c33cc84db6fec&amp;id=e7d144ff36" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL">Get email updates</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_cf65259744f5c33cc84db6fec_e7d144ff36" tabindex="-1" value=""></div>
    </div>
</form>
</div>
