---
layout: default
---

<article>

    {% if page.date %}
    <h1 class="with-time"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date_to_string }}
    </time>
    {% else %}
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    {% endif %}

    {{ content }}

<!-- 
    {% if page.show_modified_notice %}
    <p class="post-modified">
    This post was <a href="https://github.com/mmertsock/mmertsock.github.io/commits/master/{{ page.path }}">modified</a> after its initial publication.
    </p>
    {% endif %}
-->

</article>
