---
layout: default
---

<article>

    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

    {{ content }}

    <p class="discuss">
    Discuss this post: 
    <a href='https://alpha.app.net/mmprog' class='adn-button' target='_blank' data-type='follow' data-width='295' data-height='20' data-user-id='@mmprog' data-show-username='1' rel='me'>Follow me on App.net</a>
<script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='//d2zh9g63fcvyrq.cloudfront.net/adn.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'adn-button-js'));</script>
    </p>

</article>
